@import "../../global.scss";

.menu {
    width: 400px;
    height: 100vh;
    background-color: white;
    position: fixed;
    top: 0;
    right: -400px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    transition: all 0.5s ease;
    &.active {
        right: 0;
        background-color: $mainColor;
    }

    ul {
        margin: 15px 15px;
        padding: 0;
        list-style: none;
        font-size: 36px;
        color: white;

        li {
            margin-bottom: 30px;
            a {
                font-size: inherit;
                color: inherit;
                text-decoration: none;
            }
            &:hover {
                font-weight: 500;
            }
        }
    }
}
