@import "../../global.scss";

.portfolio {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    font-size: 50px;
  }

  ul {
    margin: 10px;
    padding: 0;
    list-style: none;
    display: flex;

    li {
      margin: 0 50px;
      cursor: pointer;
      font-size: 18px;
      transition: color 0.3s ease;

      &:hover {
        color: #007bff;
      }
    }
  }
  .container {
    width: 70%;
    display: flex;
    // flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
  }
  img {
    width: 300px;
    height: auto;
    margin-top: 20px;
  }
}
