.contact {
  background-color: lightblue;

  display: flex;

  .left {
    flex: 1;
    overflow: hidden;

    img {
      height: 100%;
    }
  }

  .right {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h2 {
      font-size: 30px;
    }

    form {
      width: 70%;
      height: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;

      input {
        width: 500px;
        height: 40px;
        font-size: 14px;
        padding-left: 10px;
        border-radius: 5px;
        border: none;
        &::placeholder {
          font-size: 14px;
          padding-left: 10px;
        }
      }

      textarea {
        width: 500px;
        height: 150px;
        font-size: 14px;
        margin: 20px 0;
        padding: 10px;
        resize: none;
        border-radius: 5px;
        border: none;

        &::placeholder {
          font-size: 14px;
          padding-left: 10px;
        }
      }

      button {
        width: 150px;
        height: 40px;
        font-size: 20px;
        color: white;
        background-color: crimson;
        border: none;
        border-radius: 10px;
        font-weight: 500;
        cursor: pointer;
      }

      span {
        color: green;
      }
    }
  }
  // min-height: 100vh;
}
