.works {
  background-color: rgb(106, 230, 106);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;

  .arrow {
    height: 50px;
    position: absolute;
    // color: white;
    cursor: pointer;

    &.left {
      left: 100px;
      transform: rotateY(180deg);
    }

    &.right {
      right: 100px;
    }
  }

  h1 {
    // position: absolute;
    padding-top: 60px;
    flex: 1;
    top: 0px;
    font-size: 50px;
  }

  .slider {
    height: 500px;
    display: flex;
    position: absolute;
    left: 0;
    transition: all 0.7s ease-out;

    .container {
      width: 100vw;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      .item {
        height: 500px;
        width: 60%;
        display: flex;
        align-items: center;
        border-radius: 20px;
        justify-content: center;
        background-color: white;

        .left {
          flex: 4;
          height: 80%;
          display: flex;
          align-items: center;
          justify-content: center;

          .leftContainer {
            height: 70%;
            width: 90%;
            display: flex;
            flex-direction: column;
            // align-items: center;
            justify-content: space-evenly;

            .imgContainer {
              width: 40px;
              height: 40px;
              border-radius: 50%;
              background-color: rgb(245, 184, 162);
              display: flex;
              align-items: center;
              justify-content: center;

              img {
                width: 25px;
              }
            }

            h2 {
              font-size: 24px;
            }

            p {
              font-size: 20px;
            }
            .links {
              display: flex;
              gap: 20px;
            }
            span {
              font-size: 16px;
              font-weight: 600;

              text-decoration: underline;
              cursor: pointer;
              // color: gray;
            }
          }
        }
        .right {
          flex: 8;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;

          img {
            // height: inherit;
            height: 500px;
            border-radius: 0px 20px 20px 0px;
            width: 750px;
          }
        }
      }
    }
  }
}
