.intro {
    background-color: white;
    // min-height: 100vh;
    display: flex;
    align-items: center;

    .left {
        flex: 0.5;
        overflow: hidden;
        align-items: center;

        .imgContainer {
            width: 700px;
            height: 700px;
            background-color: green;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            float: right;

            img {
                height: 90%;
                overflow: hidden;
                border-radius: 50%;
            }
        }
        // background-color: lightblue;
    }

    .right {
        flex: 0.5;
        position: relative;
        // background-color: red;

        .wrapper {
            width: 100%;
            height: 100%;
            display: flex;
            padding-left: 100px;
            flex-direction: column;
            justify-content: center;

            h1 {
                font-size: 70px;
                margin: 10px 0;
            }
            h2 {
                font-size: 35px;
            }
            h3 {
                font-size: 30px;
                // margin-bottom: 20px;

                span {
                    font-size: inherit;
                    color: crimson;
                }

                .ityped-cursor {
                    animation: blink 1s infinite;
                }

                @keyframes blink {
                    50% {
                        opacity: 1;
                    }
                    100% {
                        opacity: 0;
                    }
                }
            }
        }
        a {
            position: absolute;
            bottom: -50px;

            img {
                width: 30px;
                animation: arrowBlink 1.5s infinite;
            }

            @keyframes arrowBlink {
                to {
                    opacity: 0;
                }
            }
        }
    }
}
